.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    font-family: system-ui, sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Noto Sans, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    background-color: #f5f5f5;
    width: 350px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.9);
    text-align: center;
    box-sizing: border-box;
}

.login-box h1 {
    font-size: 32px;
    margin-bottom: 30px;
    color: #645bde;
    font-weight: bold;
}

.login-box label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
    color: #000000;
}

.login-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 5px 5px rgba(0, 0, 0, 1);
    background-color: #fff;
    color: #333;
    font-size: 16px;
    box-sizing: border-box;
    transition: border 0.1s ease, box-shadow 0.3s ease;
}

.login-box input:focus {
    outline: none;
    border: 3px solid #3d3d3d;
    box-shadow: 5px 5px #3d3d3d;
}

.login-box .forgot-password {
    text-align: right;
    margin-bottom: 15px;
}

.login-box .forgot-password a {
    color: #645bde;
    text-decoration: none;
    font-size: 14px;
}

.login-box button {
    width: 100%;
    padding: 15px;
    background-color: #786fec;
    color: #000000;
    font-weight: bold;
    border: 2px solid #000;
    border-radius: 50px;
    box-shadow: 5px 5px rgba(0, 0, 0, 1);
    font-size: 18px;
}

.login-box button:hover {
    background-color: #645bde;
}

.login-box .register {
    margin-top: 15px;
}

.login-box .register {
    color: #645bde;
    text-decoration: none;
    font-size: 14px;
}

.login-box .register a {
    color: #645bde;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}
