* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lexend Giga', sans-serif;
  background-color: #bdcff1; /* Cor neutra para o fundo */
  color: #0e0e0e; /* Texto em tom escuro para legibilidade */
  line-height: 1.6;
}
  