/* home.css */
body {
  margin: 0;
  padding: 0;
  background-color: #c1d6ee;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/* Centralizar o container e manter o cabeçalho fixo */
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 90%;
  max-width: 1200px;
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #000000;
  box-shadow: 2px 2px rgb(22, 22, 22);
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
  margin-top: 1rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-link {
  color: #0f0f0f;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}

.nav-button {
  background-color: #ffd83b;
  color: #000;
  padding: 5px 10px;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 3px 3px rgb(22, 22, 22, 1);
  text-decoration: none;
  font-weight: bold;
}

.nav-button:hover {
  background-color: #ffcc00;
  color: #000;
  transition: background-color 0.5s ease;
}

.main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline {
  font-size: 2rem; /* Aumentar o tamanho da frase */
  line-height: 1.5; /* Aumentar o espaçamento entre as linhas */
  margin-bottom: 10px;
  color: rgb(22, 22, 22, 1);
}

.highlight {
  /* color: #000000; Exemplo de cor */
  font-size: 3rem; /*Aumenta o tamanho */
  font-style: italic; /* Negrito, se necessário */
  /* text-transform: uppercase; Tudo em maiúsculas (opcional) */
  /* -webkit-text-stroke: 1px #070707; */
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.search-input {
  padding: 15px;
  width: 400px; /* Aumentar a largura */
  font-size: 1.2rem; /* Aumentar o tamanho do texto */
  border: 1px solid #0f0f0f;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 4px 4px rgb(22, 22, 22, 1);
}

.search-input:focus {
  outline: none;
}

.search-button {
  background-color: #ffd83b;
  border: 1px solid #000;
  color: #000;
  padding: 15px;
  font-size: 1.2rem; /* Aumentar o tamanho do botão */
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  box-shadow: 4px 4px rgb(22, 22, 22, 1);
}

.search-button:hover {
  background-color: #ffcc00;
  color: #000;
  transition: background-color 0.5s ease;
}